/* @autor Sofia Montero Castiblanco */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Nav */

    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000; /* Asegura que el encabezado esté sobre otros elementos */
        background-color: #ffffff; /* Color de fondo del encabezado */
        /* Agrega cualquier otro estilo necesario para el encabezado */
    }
  
  .nav {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  .nav__home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    height: 100%;
  }
  
  .nav__home__busqueda {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .nav__home__busqueda__form {
    position: relative;
    background-color: var(--color-gray);
    height: 35px;
    border-radius: 5px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav__home__busqueda__form::before {
    content: '';
    position: absolute;
    left: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../assert/svg/busqueda.svg');
    background-size: contain;
  }
  
  .nav__home__busqueda__input {
    all: unset;
  }
  
  .nav__home__redirect {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav__home__redirect__links {
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .nav__home__redirect__link {
    all: unset;
  }
  
  .nav__home__redirect__link.active,
  .nav__home__redirect__link:hover {
    border-bottom: 2px solid var(--color-text-principal);
  }
  
  .nav__home__redirect__link.active {
    animation: none !important;
  }
  
  .nav__home__redirect__link:hover {
    animation: jump 0.4s ease;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
  
    25% {
      transform: translateY(-8px);
    }
  
    50% {
      transform: translateY(0);
    }
  
    75% {
      transform: translateY(-4px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .nav__home__redirect__link img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center center;
  }




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;    
    margin: 5% 0 3% !important;
    background-color: #f5f3f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #f5f3f0;
}


.contenido {
    background-color: white;     
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1300px; 
}
.imagen {
    width: 100%;
    height: 40vh; 
    object-fit: cover;
    margin-bottom: 20px; 
}

.intro {
    padding-top: 3%;
    padding: 15px 90px 5px 90px; 
    line-height: 1.5rem;

}

.habilidades {
    margin-top: 3%;
    padding: 15px 90px 5px 90px; 

}

.iconos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icono {
    width: 150px;
    height: 150px;
    background-color: #666666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono span {
    color: white;
    font-size: 100px;
}
.hobbies {
    margin-top: 3%;
    padding: 15px 90px 5px 90px; 

}
.hobbies ul{

    padding-left:20%;
    line-height: 1.5rem;
    font-size: 1.5rem;


}



